<%= render 'components/navbar' %>  


<h1 class="text-center"><%= @cocktail.name %> <span class="badge badge-secondary text-underline">New</span></h1>

<br>
  <% if @cocktail.picture? %>
    <%= image_tag @cocktail.picture, class: "rounded mx-auto d-block" , height:350  %>
  <% end %>

  <br>

  <p class="text-gray text-center"> Rub the rim of the glass with the lime slice to make the salt stick to it.
  <br> Take care to moisten only the outer rim and sprinkle the salt on it. <br> The salt should present to the lips of the imbiber and never mix into the cocktail.
  <br> Shake the other ingredients with ice, then carefully pour into the glass. </p>

  <div class="pad10"> <% if @cocktail.doses.empty? %> <p class="text-gray text-center font-weight-bold">No Doses at the moment add yours</p>
  <% else %>
   <h3 class="text-gray text-center"> Ingredients: </h3> <% end %>
  </div>

<br>
  <ul class="text-gray text-center">
    <% @cocktail.doses.each do |d| %>
    <lo>
      <i class="fa fa-glass"></i> <strong> <%= d.ingredient.name %> </strong>
    </lo>
    <p class="pad10"><strong> <%= d.description %></p> </strong>

    <%= link_to "", dose_path(d), class: "fas fa-trash trash-position", method: :delete ,
      data: { confirm: "Are you sure?" }, style: "color:#66DE89" %>
    <% end %>
    </div>
  </ul>

  <div class="container">
    <div class="row">
    <%= link_to "Add ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-secondary col ml-1", id: "ingredient-add-button"%>
    </div>
  </div>
  </div>

<br>

]